
.list_box{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap 
}

.list_box>.column{
    width: calc(30% - .96667rem);
    background: orange;
    position: relative;
    left: 0;
    top: 0;
    padding: 10px;
    margin-bottom: 1.2rem;
    color: black;   
    align-items: flex-start
}
.list_box:after{
    content: '' !important;
    padding: 10px;
    width: calc(30% - .96667rem);
};